<h2>
    <form id="register" name="register" action="#" method="post" onsubmit="return validateLogin(this);">
      <fieldset>
      <legend>Login</legend>
      <div class="login">
          <textarea rows="1" cols="60" name="username" id="username" placeholder="Username"></textarea>
          <br/>
          <textarea rows="1" cols="60" name="password" id="password" placeholder="Password"></textarea>
          <br/>
          <input type="submit" value="Submit" id="loginSubmit" name="loginSubmit"/>
        </div>
        </fieldset>
    </form>
</h2>
