#tree-canvas {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

#tree-container {
    text-align: center;

    margin: 0 auto;

    position: relative;
}

#tree-container .node {
    /* display: block;     */
    background-color: white;

    width: 100px;
    height: 20px;

    border-style: solid;
    margin: 0 auto;
}

#tree-container .box {
    /* border-style: solid; */
    margin: 20px 5px;
}

#tree-container .chain {
    min-width: 100px;

    display: inline-block;
    vertical-align: top;

    /* border-style: solid;
    margin: 2px;  */
}

#tree-container .chain.focus {
    min-width: 200px;
}