html{
  width:450px;
}

p{
  margin:0;
}

h5{
  margin:0;
}

#chatbox{
  padding-top:20px;
  padding-left:10px;
  padding-bottom:20px;
  border-style:solid;
  border-width:1px;
}

#user{

  text-align: right;
  width:400px;
}
#user p{
  padding-right:1px;
  padding-left:1px;
  background:lightblue;
  border-radius: 5px;
}

#other {
  text-align: left;
  width:400px;

}
#other p{
  padding-right:1px;
  padding-left:1px;
  background:lightgreen;
  border-radius: 5px;
}